.carte{
    position: relative;
    img{
        position: relative;
width: 370px;
border-radius: 20px;
height: 340px;
      object-fit: cover;
    }

    p{
        bottom: 15px;
        left: 10px;
        position: absolute;
        color: white;
        font-size: 20px;
    }
} img::after{
            content: "dddd";
            position: absolute;
            background-color: black;
            inset: 0;
            opacity: 0;
        }