.conteneur{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;


img{
    width: 210px;
    height: 68px;

}

nav{
display: flex;
gap: 30px;
font-weight: 500;
font-size: 24px;
color: #ff6060;



}
&.Link{
text-decoration: none;
list-style-type: none;
}
}