.conteneur{
    display: flex;
    justify-content: space-between;
img{
    width: 210px;
    height: 68px;

}

nav{
display: flex;
gap: 30px;
font-weight: 500;
font-size: 24px;
color: #ff6060;

:hover{
    border-bottom: 1px #ff6060 solid;
}

}

}